<h1>Soft Launch: <%=@softlaunch.name%></h1>

<%if @softlaunch.enabled?%>
  <p>Feature is enabled for all users.</p>
<%elsif @softlaunch.disabled?%>
  <p>Feature is disabled for all users.</p>
<%elsif @softlaunch.user_specific?%>
  <p>
    Feature is enabled/disabled on a per-user's browser instance basis.
    A cookie in the user's browser is used to determine if the
    feature is enabled or not.
  </p>
  <p>
    Status for this browser: 
    <%if @softlaunch.launched?%>
      <div style="padding-left: 20px;font-weight: bold;font-size:2em;">Enabled</div>
    <%else%>
      <div style="padding-left: 20px;font-weight: bold;font-size:2em;">Disabled</div>
    <%end%>
  </p>
  <%if @softlaunch.launched?%>
    <%=form_for @softlaunch.usercode,:method=>:put do |f|%>
      <%=hidden_field_tag :sl_enable,0%>
      <%=f.submit "Disable this Browser"%>
    <%end%>
  <%else%>
    <%=form_for @softlaunch.usercode,:method=>:put do |f|%>
      <%=hidden_field_tag :sl_enable,1%>
      <%=f.submit "Enable this Browser"%>
    <%end%>
  <%end%>
  </p>
<%else%>
  <p>Feature status cannot be determined.</p>
<%end%>
